version: "3.9"

services:
  nodered:
    image: nodered/node-red:latest
    container_name: node-red
    restart: unless-stopped
    ports:
      - "1880:1880"
    volumes:
      - ./data:/data
    depends_on:
      - yolov8

  yolov8:
    build: .
    container_name: yolov8
    restart: unless-stopped
    ports:
      - "5000:5000"
    volumes:
      - ./models:/models
      - ./app:/app
